/* font-family: 'Press Start 2P', cursive; */

/* Color Theme Swatches in Hex */
$LEE-《DMT》Music-Video-1-hex: #3f3ca6;
$LEE-《DMT》Music-Video-2-hex: #2c2973;
$color-light: #716df2;
$color-accent-hover: #05c7f2;
$LEE-《DMT》Music-Video-5-hex: #05f2f2;

/* Color Theme Swatches in Hex */
$StarTropics-1-hex: #414af2;
$StarTropics-2-hex: #484fd9;
$StarTropics-3-hex: #8d92f2;
$StarTropics-4-hex: #158c03;
$StarTropics-5-hex: #0d0d0d;

/* Color Theme Swatches in Hex */
$info-border: #bf268a;
$Arcade-High-New-Impressions-2-hex: #d93bbe;
$yellow: #f2c029;
$Arcade-High-New-Impressions-4-hex: #f2913d;
$Arcade-High-New-Impressions-5-hex: #f26e50;

/* Color Theme Swatches in Hex */
$color-secondary: #011640;
$color-background: #011126;
$color-accent: #05f2db;
$color-complementary: #f23005;
$Creative-analogous: #730202;

body {
  font-size: 12px;
  color: $color-accent;
  font-family: 'Press Start 2P', cursive;
  background-color: $color-background;
}

main {
  border : solid $color-complementary 1px;
  padding: 10px;
}

h1 {
  text-shadow: 4px 4px 0px $yellow;
}

form {
  input {
    background-color: rgb(200, 180, 230);
    color: $color-secondary;
    border: solid $color-accent 2px;
  }
}

.yellow {
  color: $yellow;
  text-shadow: 4px 4px 0 $color-complementary;/**/
}

.button {
  background-color: $color-accent;
  height: 40px;

  &:hover {
    background-color: $color-accent-hover;
    transform: scale(1.1);
  }
}

.board-container {
  margin-bottom: 100px !important;
  max-width: 300px;
}

.dis-player1,
.dis-player2 {
  display: none;
  border: solid 2px $color-accent;
  padding: 10px;
  transition: 0.2s;
}

.player-turn {
  box-shadow: 5px 10px $color-accent;
  transition: 0.2s;
}

.name1-container,
.name2-container {
  position: relative;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-background;
}

.p1name,
.p2name {
  background-color: $color-background;
  font-size: 14px;
}

.p1symbol,
.p2symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px $info-border;
  height: 50px;
  width: 100px;
  font-size: 22px;
  margin-top: 12px;
}

.p1score,
.p2score {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px $info-border;
  height: 60px;
  width: 100px;
  margin-top: 12px;
}

.score1,
.score2 {
  font-size: 20px;
}

.absolute {
  position: absolute;
  top: -10px;
  background-color: $color-background;
}

.cell {
  height: 100px;
  border: solid 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;

  &:hover {
    background-color: $color-complementary;
    cursor: pointer;
  }

  &:first-child,
  &:nth-child(2),
  &:nth-child(3) {
    border-top: none;
    margin-top: 25px;
  }

  &:nth-child(3n + 1) {
    border-left: none;
  }

  &:nth-child(3n + 3) {
    border-right: none;
  }

  &:last-child,
  &:nth-child(7),
  &:nth-child(8) {
    border-bottom: none;
  }
}

.display-players {
  max-width: 500px;
}

.win {
  background-color: rgb(15, 197, 15);
}

.message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
